name = "neon-marble-api"
main = "src/index.ts"
compatibility_date = "2024-12-01"

[dev]
port = 3001

[durable_objects]
bindings = [
  { name = "GAME_ROOM", class_name = "GameRoom" }
]

[[migrations]]
tag = "v1"
new_classes = ["GameRoom"]
